body {
    height: 100vh;
   
    background-color: #daebf85d;
  }
  .forgot-box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    background: #fff;
    
     padding: 1.2rem 0px;
    margin-top: 6rem;
  }
  .forgot-heading{
    padding: 0px 1.2rem;
    font-weight: 600;
    color: rgb(44, 43, 43);
    font-size: 1.3em;
  }
  .line{
 
   border: 1px solid #eceeea;
  }
  .forgot-field{

    font-size: 1em;
    padding: 0.8rem 1.2rem 0rem 1.2rem;
  }
  .forgot-field span{
   color: rgb(66, 66, 66);
  }
  .forgot-field p{
    color: rgb(66, 66, 66);
}
  .email-box input {

    border-radius: 4px;
 
    height: 3rem;
  
    width: 100%;
   
    color: white;
  }
  .email-box .form-control:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
  }
  .email-box input:focus{
    border: 1px solid #ced4da;
}
.email-box input::placeholder {
   
    color: rgb(88, 85, 85);
  }
  .email-box input:focus::placeholder {
  
    color: #bdc1c5;
  }
  .forgot-button{


    padding: 0px 1.2rem;
    text-align: right;
  }
  .cancel-btn{
    color:  rgb(88, 85, 85);
    border: none;
    
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    background: #edede9;
  font-weight: 600;
   
    font-family: "Nunito", sans-serif;
  }
  .search-btn{
    color: #fff;
    border: none;
    
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    background: #0096c7;
  font-weight: 600;
   
    font-family: "Nunito", sans-serif;
  }
  .errorMessage{
    color: red;
    text-align: center;
  }
  @media(max-width: 576px){
    .forgot-field span{
        display: none;
    }
    .forgot-button {

text-align: center;
      }.errorMessage{
      font-size:0.8em;
      }
      .forgot-heading{
        font-size: 1.2em;
      }
      .forgot-box{
        margin-top: 3rem;
      }
      .email-box input::placeholder {
   
        color: #fff;
      }
      .email-box input:focus::placeholder {
      
        color: #fff;
      }
  }
  @media(min-width: 576px){
    .forgot-field p{
        display: none;
    }
  }
  