.navBox {
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid black;
    padding: 25px 20px;
    position: absolute;
    right: 1px;
    top: 0px;
    z-index: 2;
  
  }
  .navBox-link {
    /* margin: 10px 0px; */
    text-align: center;
   

  }
  .navBox-link .button{
    text-decoration: none;
    color: rgb(61, 60, 60);
    font-size: 1.0rem;
  }
  .navBox-link .button:hover{
    color: black;
  }
  @media(min-width:576px){
    .navBox-link .button{
        font-size: 1.2rem;
    }
    .navBox-link .About,
    .navBox-link .Profile {
      display: none;
    }
    }