body {
    height: 100vh;
   
    background-color: #daebf85d;
  }
  .password-box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    background: #fff;
    
     padding: 1.2rem 0px;
    margin-top: 6rem;
  }
  .password-heading{
    padding: 0px 1.2rem;
    font-weight: 600;
    color: rgb(44, 43, 43);
    font-size: 1.3em;
  }
  .password-line{
 
   border: 1px solid #eceeea;
  }
  .password-field{

 
    padding: 0.8rem 1.2rem 0rem 1.2rem;
  }
  .password-field span{
   color: rgb(66, 66, 66);
   font-size: 1em;
  }
  .password-field p{
    color: rgb(66, 66, 66);
}
.newPassword-box input {

    border-radius: 4px;
 
    height: 3rem;
  
    width: 100%;
   
    color: white;
  }
  .newPassword-box .form-control:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
  }
  .newPassword-box input:focus{
    border: 1px solid #ced4da;
}
.newPassword-box input::placeholder {
   
    color: rgb(88, 85, 85);
  }
  .newPassword-box input:focus::placeholder {
  
    color: #bdc1c5;
  }
  .password-button{


    padding: 0px 1.2rem;
    text-align: right;
  }
  .change-btn{
    color: #fff;
    border: none;
    
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    background: #0096c7;
  font-weight: 600;
   
    font-family: "Nunito", sans-serif;
  }
  .errorMessage{
    color: red;
    text-align: center;
  }

  @media(max-width: 576px){
   
    .password-button {

text-align: center;
      }
      .password-heading{
        font-size: 1.2em;
      }
      .password-box{
        margin-top: 3rem;
      }
      .newPassword-box input::placeholder {
   
        color: #fff;
      }
      .newPassword-box input:focus::placeholder {
      
        color: #fff;
      }
      .password-field p{
        font-weight: 600;
      }
    .errorMessage{
        font-size:0.8em;
        }
  }
  @media(min-width: 576px){
    .password-field p{
        display: none;
    }
  }