body {
    height: 100vh;
   
    background-color: #daebf85d;
  }
  
  .verification-box{
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 0.5rem;
    background: #fff;
    
     padding: 1.2rem 0px;
    margin-top: 6rem;
  }
  .verification-heading{
    padding: 0px 1.2rem;
    font-weight: 550;
    font-size: 1.4em;
    color: rgb(44, 43, 43);
  }
  .verification-line{
 
    border: 1px solid #eceeea;
  }
  .verification-field{
    padding: 0.8rem 1.2rem;
    font-size: 1.1em;
  
  
  }
  .verification-field p {
    color: rgb(66, 66, 66);
  }
  
  .verification-field span{
    font-size: 0.8em;
    color: rgb(66, 66, 66);
  }
  .verification-search input {
  
    border-radius: 4px;
  
    height: 3.5rem;
  
  
   
    color: white;
  }
  .verification-search .form-control:focus {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    outline: none;
  }
  .verification-search input:focus{
    border: 1px solid #ced4da;
  }
  .verification-search input::placeholder {
    
    color: rgb(88, 85, 85);
  }
  .verification-search input:focus::placeholder {
   
    color: #bdc1c5;
  }.verification-button{

    padding: 0px 1.2rem;
    text-align: right;
  }
  .resend-button{
    color:  rgb(88, 85, 85);
    border: none;
    
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    background: #edede9;
  font-weight: 600;
   
    font-family: "Nunito", sans-serif;
  }
  .verification-btn{
    color: #fff;
    border: none;
    
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    padding: 7px 20px;
    background: #0096c7;
  font-weight: 600;
   
    font-family: "Nunito", sans-serif;
  }
  .errorMessage{
    color: red;
    text-align: center;
  }
  @media(min-width: 576px){
    .verification-box h3
    {
        display: none;
    }
    .verification-box h6{
        display: none;
    }
    .verification-field p{
        display: none;
    }
   
  }
  
  @media(max-width: 576px){
    .verification-box h4{
        display: none;
    }
    .verification-field span{
        display: none;
    }
   
    /* .verification-search input{
        width: 200%;
    } */
    .verification-button{
  
  
        text-align: center;
      }
      .verification-box h3{
        font-size: 1em;
      }
      .verification-box h6{
        font-size: 0.7em;
      }
      .verification-box{
        margin-top: 3rem;
      }
      .verification-search input::placeholder {
    
        color:#fff;
      }
      .verification-search input:focus::placeholder {
       
        color: #fff;
      }
  }

  /* @media(max-width:992px){
    
        .verify-search input{
            width: 100%;
        } 
  }
   */
  @media (min-width: 768px) and (max-width: 991.98px) { 

  .verification-search input::placeholder {
    
    color: rgb(88, 85, 85);
    font-size: 0.5em;
  }
  }
    
  